*{
  padding: 0;
  margin: 0;
  font-family: arial;
}
.seccionTortrix{
  width: 75%;
  height: 100%;
  margin-left: 11.7%;
  background-color: blu;

}
.seccionTortrix1{
  width: 25%;
  border: 1px black solid;
  height: 20px;
  background-color: #F9730B;
  position: relative;
  display: inline-block;
}
.textoqueso{
  width: 40%;
  border-radius: 8px;
  height: 20px;
  text-align: center;
  padding-top: 7px;
  background-color: white;
  color: black;
  position: absolute;
  font-size: 10px;
  margin-top: -21%;
  left: 28%;
}
.seccionTortrix1 img{
  width: 99.7%;
  border: 1px black solid;
  margin-top: 20px;
}
.seccionTortrix2{
  width: 25%;
  border: 1px black solid;
  height: 20px;
  margin-left: 12%;
  background-color: #F9730B;
  position: relative;
  display: inline-block;
}
.textopicante{
  width: 40%;
  border-radius: 8px;
  height: 20px;
  text-align: center;
  padding-top: 7px;
  background-color: white;
  color: black;
  position: absolute;
  font-size: 10px;
  margin-top: -21%;
  left: 30%;
}
.seccionTortrix2 img{
  width: 99.7%;
  margin-top: 20px;
  border: 1px black solid;
}

.seccionTortrix3{
  width: 25%;
  height: 20px;
  float: right;
  border: 1px black solid;
  background-color: #F9730B;
  position: relative;
  display: inline-block;
}
.textolimon{
  width: 40%;
  border-radius: 8px;
  height: 20px;
  text-align: center;
  padding-top: 7px;
  background-color: white;
  color: black;
  position: absolute;
  font-size: 10px;
  margin-top: -21%;
  left: 31%;
}
.seccionTortrix3 img{
  width: 99.7%;
  border: 1px black solid;
  margin-top: 20px;
}

.seccionTortrix4{
  width: 25%;
  margin-top: 5%;
  height: 20px;
  border: 1px black solid;
  background-color: #F9730B;
  position: relative;
  display: inline-block;
}
.textochapi{
  width: 40%;
  border-radius: 8px;
  height: 20px;
  text-align: center;
  padding-top: 7px;
  background-color: white;
  color: black;
  position: absolute;
  font-size: 10px;
  margin-top: -21%;
  left: 31%;
}
.seccionTortrix4 img{
  width: 99.5%;
  margin-top: 20px;
  border: 1px black solid;
}
.seccionTortrix5{
  width: 24.5%;
  margin-top: 5%;
  border: 1px black solid;
  height: 20px;
  margin-left: 13%;
  background-color: #F9730B;
  position: relative;
  display: inline-block;
}
.textobarbacoa{
  width: 40%;
  border-radius: 8px;
  height: 20px;
  text-align: center;
  padding-top: 7px;
  background-color: white;
  color: black;
  position: absolute;
  font-size: 10px;
  margin-top: -21%;
  left: 31%;
}
.seccionTortrix5 img{
  width: 99.7%;
  border: 1px black solid;
  margin-top: 20px;
}
.seccionTortrix6{
  width: 24.5%;
  margin-top: 5%;
  border: 1px black solid;
  height: 20px;
  float: right;
  background-color: #F9730B;
  position: relative;
  display: inline-block;
}
.textobarbacoa2{
  width: 40%;
  border-radius: 8px;
  height: 20px;
  text-align: center;
  padding-top: 7px;
  background-color: white;
  color: black;
  position: absolute;
  font-size: 10px;
  margin-top: -21%;
  left: 31%;
}
.seccionTortrix6 img{
  width: 99.7%;
  border: 1px black solid;
  margin-top: 20px;
}
.seccionTortrix7{
  width: 25%;
  margin-top: 5%;
  border: 1px black solid;
  height: 20px;
  margin-left: 38.7%;
  background-color: #F9730B;
  position: relative;
  display: inline-block;
}
.textopicante2{
  width: 40%;
  border-radius: 8px;
  height: 20px;
  text-align: center;
  padding-top: 7px;
  background-color: white;
  color: black;
  position: absolute;
  font-size: 10px;
  margin-top: -21%;
  left: 30%;
}
.seccionTortrix7 img{
  width: 99.6%;
  margin-top: 20px;
  border: 1px black solid;
}
.descripcion{
  margin-top: 80%;
  width: 100%;
  height: 400px;
  position: relative;
  background-color: #E1B63D;
}
.descripcion p{
  font-size: 30px;
  padding-left: 40%;
  padding-top: 7%;
}
.descripcion h1{
  font-size: 20px;
  padding-left: 40%;
}
.imagennodisponible2{
  margin-top: -10%;
  width: 22%;
  background-color: red;
  height: 80%;
  margin-left: 60%;
  position: absolute;
}
.imagennodisponible2 img{
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 600px) {

  .descripcion{
    margin-top: 80%;
    width: 100%;
    height: 200px;
    position: relative;
    background-color: #E1B63D;
  }
  .descripcion p{
    font-size: 20px;
    padding-left: 20%;
    padding-top: 15%;
  }
  .descripcion h1{
    font-size: 10px;
    padding-left: 20%;
  }
  .imagennodisponible2{
    margin-top: -21%;
    width: 28%;
    background-color: red;
    height: 60%;
    margin-left: 60%;
    position: absolute;
  }
  .imagennodisponible2 img{
    width: 100%;
    height: 100%;
  }
  .textoqueso{
    width: 60%;
    border-radius: 8px;
    height: 20px;
    text-align: center;
    padding-top: 7px;
    background-color: white;
    color: black;
    position: absolute;
    font-size: 10px;
    margin-top: -46%;
    left: 22%;
  }
  .textopicante{
    width: 60%;
    border-radius: 8px;
    height: 20px;
    text-align: center;
    padding-top: 7px;
    background-color: white;
    color: black;
    position: absolute;
    font-size: 10px;
    margin-top: -46%;
    left: 22%;
  }
  .textolimon{
    width: 60%;
    border-radius: 8px;
    height: 20px;
    text-align: center;
    padding-top: 7px;
    background-color: white;
    color: black;
    position: absolute;
    font-size: 10px;
    margin-top: -46%;
    left: 22%;
  }
  .textochapi{
    width: 60%;
    border-radius: 8px;
    height: 20px;
    text-align: center;
    padding-top: 7px;
    background-color: white;
    color: black;
    position: absolute;
    font-size: 10px;
    margin-top: -46%;
    left: 22%;
  }
  .textobarbacoa{
    width: 60%;
    border-radius: 8px;
    height: 20px;
    text-align: center;
    padding-top: 7px;
    background-color: white;
    color: black;
    position: absolute;
    font-size: 10px;
    margin-top: -46%;
    left: 22%;
  }
  .textobarbacoa2{
    width: 60%;
    border-radius: 8px;
    height: 20px;
    text-align: center;
    padding-top: 7px;
    background-color: white;
    color: black;
    position: absolute;
    font-size: 10px;
    margin-top: -46%;
    left: 22%;
  }
  .textopicante2{
    width: 60%;
    border-radius: 8px;
    height: 20px;
    text-align: center;
    padding-top: 7px;
    background-color: white;
    color: black;
    position: absolute;
    font-size: 10px;
    margin-top: -46%;
    left: 22%;
  }
}
