*{
  padding: 0;
  margin: 0;
  font-family: arial;
  color: white;
  text-decoration: none;
}
header{
  width: 100%;
  height: 50px;
  background-color: #F9730B;
}
.Buscador{
font-size: 17px;
padding-top: 14px;
padding-left: 200px;
}
input{
  margin-left: 15px;
  color:black;
  width: 140px;
  height: 20px;
}
.Botones{
  width: 285px;
  height: 37px;
  margin-top: -30px;
  margin-left: 66%;
  list-style: none;
}

.boton{
  border-radius: 3px;
  float: left;
  padding: 10px;
  margin-right: 20px;
  color: black;
  background-color: white;
  font-size: 14px;
}
.imagenTortilla{
  width: 100%;
  height: 55%;
  position: relative;
  display: inline-block;
}
.textotortilla{
  position: absolute;
  font-size: 45px;
  top: 100px;
  left: 18%;
}
.imagenTortilla img{
  width: 100%;
  height: 100%;
}
.imagennodisponible{
  width: 264px;
  margin-top: 2%;
  margin-left: 41%;
  height: 255px;
}
